In [1]:
# Dependables
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import pymongo
import time

In [2]:
# Setup splinter
# executable_path = {'executable_path': ChromeDriverManager().install()}
executable_path = {'executable_path': r'C:\Users\pippi\.wdm\drivers\chromedriver\win32\93.0.4577.63\chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Scrape NASA Mars News
# Set up url
newsUrl = 'https://redplanetscience.com/'
browser.visit(newsUrl)
browser.is_element_present_by_css('div.list_text', wait_time=1)
html = browser.html

In [4]:
# Create soup object
newsSoup = bs(html, 'html.parser')

In [5]:
# Parse out specific title
div_level = newsSoup.select_one('div.list_text')
div_level.find('div', class_='content_title')

In [6]:
# Assign title to variable
news_title = div_level.find('div', class_='content_title').text

In [7]:
print(news_title)

All About the Laser (and Microphone) Atop Mars 2020, NASA's Next Rover

In [8]:
# Scrape the paragraph
div_level = newsSoup.select_one('div.list_text')
div_level.find('div', class_='article_teaser_body')

In [9]:
# Assign paragraph to variable
news_p = div_level.find('div', class_='article_teaser_body').text

In [10]:
print(news_p)

SuperCam is a rock-vaporizing instrument that will help scientists hunt for Mars fossils.

In [11]:
# Scrape the Mars space images
# Set up url
imageUrl = 'https://spaceimages-mars.com/'
browser.visit(imageUrl)

In [12]:
# Create soup object
html = browser.html
imageSoup = bs(html, 'html.parser')

In [40]:
# Find the image using for loop
image_src = imageSoup.find('img', class_='headerimage fade-in')['src']
print(results)

image/featured/mars3.jpg

In [43]:
# Create the full url string
featured_image_url = 'https://spaceimages-mars.com/' + image_src
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [60]:
# Scrape the Mars facts
# Set up the tables
factsUrl = 'https://galaxyfacts-mars.com/'
factTables = pd.read_html(factsUrl)

In [61]:
factTables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [62]:
# Set up DF
mars_df = factTables[0]
mars_df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [63]:
# Drop Earth Column
mars_df = mars_df.drop(columns=2)
mars_df.head()

                         0                1
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km

In [65]:
# Drop Mars-Earth Comparison cell
mars_df.at[0,0] = 'Name'
mars_df.head()

                    0                1
0                Name             Mars
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km

In [66]:
print(mars_df)

                    0                1
0                Name             Mars
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [67]:
# Save mars_df to html
mars_df.to_html('Mars.html')